doctype html
html(ng-app="JohnPersonalSite")
    head
        title John O'Connor's Personal Website
        // Fonts
        meta(name="viewport", content="width=device-width, initial-scale=1")
        // include fontIncludes
        block css
            // link(rel="stylesheet", href="/components/bootstrap/dist/css/bootstrap.min.css")
            // include otherCss
        // link(rel="apple-touch-icon",, href="//imgcb_icong/cb_icon.png")
        // link(rel="icon", type="image/png", href="/img/cb_icon.png")
        // link(rel="icon", type="image/png", href="/img/cb_icon.png")
        // These are Open Graph tags.  They add meta data to your
        // site that facebook uses when your content is shared
        // over facebook.  You should fill these tags in with
        // your data.  To learn more about Open Graph, visit
        // 'https://developers.facebook.com/docs/opengraph/'
        meta(property="og:title", content="johns personal website")
        meta(property="og:type", content="website")
        meta(property="og:site_name", content="John O'Conor's Personal Website")
        // include utilScripts
        // Angular App Includes
        // include angularAppScripts
        block scripts
    body
        block container
            // block headers
            // block pages
            // block footers
    block userScripts
        // include otherScripts
    // include analytics