extends ./layout

block content
    section
        block pageHeader
            .page-header
                h1 Admin menu goes here
            - // admin menu goes here...
        block adminContent
            h1 Content for the admin interface goes here.