!!!
html(ng-app="JWOApp")
    head
        title John W O'Connor
        link(rel="stylesheet", href="css/bootstrap.css")
        // Fonts
        include fontIncludes
        block css
            include otherCss
        link(rel="stylesheet", href="css/base.css")
        include utilScripts
        // Angular App Includes
        include angularAppScripts
        block scripts
    body
        block container
    block userScripts
        include otherScripts